<div class="navbar navbar-expand-sm navbar-light navbar-lmc">
  <h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters"> Little Miss Cocktail</span>
    <span><%= image_tag 'cocktail.jpg', class: 'fas mb-2'%><span>
    <span class="line line2"></span>
  </span>
  </h1>
</div>
