<div class="banner-content">
  <h1>Little Miss Cocktail</h1>
  <p>Awesome beverages for developers nightlife</p>
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do | cocktail | %>

    <%= link_to cocktail_path(cocktail) do %>
    <div class="card-category m-1" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path cocktail.photo.key %>')">
    <h3><%= cocktail.name %></h3>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
