.index-container {
    max-width: 800px;
    margin: 20px auto;
}

.index-cards {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
}

.cocktail-card {
    height: 250px;
    background-size: cover;
    background-position: center;
    height: 240px;
    border: 1px white solid;
    box-shadow: 1px 1px 10px darkblue;
    &:hover {
    box-shadow: 1px 1px 10px white;
    }
    
}

.cocktail-card h3, a{
    text-decoration: none !important;
}

#cocktail-names {
    line-height: 250px;
}

@media (max-width: 576px) {
    body{
        width: 100vw;
    }
    .index-container {
        max-width: 325px;
        margin: none;
    }
    .index-cards {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin-top: 47px;
    }
    .cocktail-card {
        height: 150px;
        background-size: cover;
        background-position: center;
        border: 1px white solid;
        box-shadow: 1px 1px 10px darkblue;
        &:hover {
        box-shadow: 1px 1px 10px white;
        }
    }
}