.banner {
  height: 100%;
  overflow-y: hidden;
//   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508028209469-933de69c0f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
   h1 {
        margin: 0;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        font-size: 32px;
        font-weight: bold;
    }
    label {
        font-size: 18px;
    }
}


@media (max-width: 576px) {
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: black;
    }
}