@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

table {
    border: none;
    width: 100%;
}

th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: none;
    // text-decoration: underline;
    border-bottom: 1px black solid;
}

tr {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    padding: 5px;

}

td {
  padding: 5px;
  a {
    color: black;
    padding-left: 10px;
  }
}

label {
  color: white;
  font-size: 15px;
  letter-spacing: 0.05em;
}

h3 {
  letter-spacing: 0.05em;
}

.cocktail-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.card-trip {
  overflow: hidden;
  background-image: linear-gradient(grey, white);
  max-width: 466px;
  // box-shadow: 3px 3px 10px #888888;
  padding: 3px;

  h4 {
      color: black;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
  }
  h1 {
      color: black;
      padding-bottom: 3px;
      border-bottom: 3px black solid;
    }
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  display: flex;
}

.card-trip .card-trip-infos {
  position: relative;
}

.back-delete {
  color: white;
  padding-top: 5px;
  font-size: 15px;
  &:hover {
    color: grey;
    font-size: 16px;
  }
}

footer {
  border-top: 1px white solid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  footer {
    margin-top: 30px;
    padding-top: 8px;
    border-top: 1px white solid;
    width: 100%;
    position: fixed;
    left: 0;
  }
}