<h3>Add dose to the recipe</h3>
<%= simple_form_for [cocktail, dose] do |f| %>
  <%= f.association :ingredient, input_html: {}, include_hidden: false %>
  <%= f.input :description %>
  <%= f.button :submit, class: "add-button" %>
<% end %>
