@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.add-button {
    color: white;
    background-color: black;
    border: 1px white solid;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 2px;
    text-decoration: none !important;
    padding: 10px 20px;
    text-align: center;
    &:hover {
        color: white;
        // background-color: grey;
        // border: 1px black solid;
        transition: 0.3s;
        box-shadow: 1px 1px 10px white; 
    }
}

#cocktail_photo {
    margin-left: 45%;
}
