.navbar-lmc {
  justify-content: space-around;
  background: black;
  border-bottom: 1px solid white;
}

.navbar-lmc .navbar-collapse {
  flex-grow: 0;
}

.navbar-lmc .navbar-brand img {
  width: 200px;

}