.navbar-lmc {
  justify-content: space-around;
  background: black;
  padding-top: 15px;
  h1{
      font-size: 39px;
  }
}

.navbar-lmc .navbar-collapse {
  flex-grow: 0;
}

#lines-navbar {
    border-bottom: 2px white solid;
}
