.navbar-lmc {
  justify-content: space-around;
  background: black;
  padding-top: 15px;
  h1{
      font-size: 39px;
  }
}

.navbar-lmc .navbar-collapse {
  flex-grow: 0;
}

#lines-navbar {
    border-bottom: 2px white solid;
}

@media (max-width: 576px) {
  .navbar-lmc {
    max-width: 350px;
    margin-bottom: 15px;
    margin-left: 8px;
    h1 {
      font-size: 32px;
    }
  }
}